.BurgerConstructorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 20px);
    height: 100%;
}

.bunElement {
    min-width: 552px;
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 16px;
    max-height: 464px;
    overflow: overlay;
    scrollbar-gutter: stable;
}

.constructorIngredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.onHover {
    filter: brightness(1.1);
}

@media screen and (max-height: 968px) {
    .scrollContainer {
        max-height: 368px;
    }
}