.BurgerConstructorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 20px);
    height: 100%;
}

.bunElement {
    min-width: 552px;
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 16px;
    max-height: 464px;
    overflow: overlay;
    scrollbar-gutter: stable;
}

.constructorIngredients {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.onHover {
    filter: brightness(1.1);
}

.emptyConstructor {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.04);
    border: 3px dashed rgba(255,255,255, 0.03);
}

@media screen and (max-height: 968px) {
    .scrollContainer {
        max-height: 368px;
    }
}