* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: calc(100vh - 88px);
  width: 1240px;
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: #2F2F37;
}

div::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}