.OrderFeedCard {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #1c1c21;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04),
    0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.link {
  display: contents;
  color: inherit;
}

.OrderFeedCard:hover {
  filter: brightness(1.2);
}

.OrderFeedCardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OrderFeedCardFooter,
.OrderFeedCardPrice,
.OrderFeedCardIngredients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OrderFeedCardIngredients {
  justify-content: start;
}

.OrderFeedCardIngredient {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #801AB2;
  background: #131316;
  overflow: hidden;
}

.OrderFeedCardIngredient div {
  position: absolute;
  height: 24px;
  width: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.OrderFeedCardIngredient img {
  height: 60px;
  width: auto;
}